{% extends 'base.html.twig' %}
{% block title %}Video grabber{% endblock %}
{% block body %}
    <div class="main-content">
        <form id="search-form">
            <header class="search-wrapper">
                    <input type="text" id="search-string" class="search-input search-field" name="searchString"
                           placeholder="Query video..." value=""/>
                    <input class="search-input search-submit" type="submit" value="Search">
            </header>
        </form>
        <div id="video" class="video-content">
            <div class="player-wrapper">
                <iframe class="player" src=""
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="link-container">
                <a id="link" class="link-container__link" href=""></a>
                <div id="copy" class="link-container__copy-btn" title="Copy to clipboard"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/page.js') }}" type="text/javascript"></script>
{% endblock %}
