html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.search-wrapper {
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    border-bottom: 1px;
}

.search-input {
    border: 0;
    font-size: 14px;
}

.search-field {
    font-size: 20px;
    width: 90%;
    padding-left: 2%;
    background: #222;
    color: #ddd;
    transition: box-shadow 300ms, background-color 300ms, color 300ms;
}

.search-field:hover {
    box-shadow: -3px 1px 20px 0 #b0c5ff;
}

.search-field:focus {
    background: #f1f2f3;
    color: #222;
}

.search-field:focus {
    outline: none;
    box-shadow: initial;
}

.search-submit {
    font-size: 20px;
    width: 10%;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.search-submit:hover {
    background-color: cornflowerblue;
    color: #ddd;
}

.main-content {
    font-family: Tahoma, sans-serif;
    height: 100%;
    background: #222;
}

.video-content {
    display: none;
    align-items: center;
    flex-direction: column;
}

.link-container {
    display: flex;
    align-items: center;
}

.link-container__link {
    display: block;
    font-size: 12px;
    max-width: fit-content;
    color: #5D91B7;
    white-space: nowrap;
    margin-right: 20px;
    transition: color 300ms;
}

.link-container__link:hover {
    color: #ddd;
}

.link-container__copy-btn:before {
    display: block;
    content: ' ';
    background: url(../images/copy-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.player-wrapper {
    margin: 30px 0;
}

.player {
    width: 830px;
    height: 480px;
}
